set (autostart false)
set (preconditions Platform)
set (callsign "org.rdk.AVInput")

if(PLUGIN_AVINPUT_STARTUPORDER)
set (startuporder ${PLUGIN_AVINPUT_STARTUPORDER})
endif()

map()
    key(root)
    map()
        kv(mode ${PLUGIN_AVINPUT_MODE})
        kv(locator lib${PLUGIN_IMPLEMENTATION}.so)
    end()
end()
ans(configuration)
