permissions:
  contents: read
name: main-workflow

on:
  push:
    branches: [ main, develop, 'sprint/**', 'release/**', topic/RDKEMW-9552-** ]
  pull_request:
    branches: [ main, develop, 'sprint/**', 'release/**' , topic/RDKEMW-9552-**]

jobs:
  trigger-L1:
    uses: ./.github/workflows/L1-tests.yml
    with:
      caller_source: local
    secrets:
      RDKCM_RDKE: ${{ secrets.RDKCM_RDKE }}

  trigger-L2:
    uses: ./.github/workflows/L2-tests.yml
    with:
      caller_source: local
    secrets:
      RDKCM_RDKE: ${{ secrets.RDKCM_RDKE }}
